.wrapper {
	position: relative;

	margin-top: 2.5rem;
	padding: 1rem;
}

.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.title {
	color: #333;
	font-size: 24px;
	font-family: optima, sans-serif;
	letter-spacing: 0.05em;
	text-align: center;
	text-transform: uppercase;
}

.news {
	margin-top: 60px;
}

.news h2::before {
	margin-right: 0.5rem;

	content: "\1F929";
}

.fav {
	margin-top: 25px;
}

.fav h2::before {
	margin-right: 0.5rem;

	content: "\2764";
}



